.Main {
  background-color: #ffffff;
}

/* .main__label {
  border-radius: 5px;
  min-width: 100px;
  min-height: 50px;
  padding: 5px;
  color: aqua;
}

.main__label:hover {
  background-color: rgb(141, 95, 25);
} */

/* .remove {
  display: none;
} */